<div class="carousel__container__outer carousel__container__right">
  <div class="carousel__container__inner" id="carousel">

    {%- for skill in skills -%}
      <div class="carousel__card" tabindex="0">
        <div class="carousel__card__inner">
          <div class="carousel__card__front">
            <h3 class="carousel__card__title carousel__text">{{skill.display}}</h3>
            <div class="carousel__circle">
              <div class="img__carousel__logo">
                <img class="img" src="img/skills/{{skill.title | kebab}}-logo.svg" alt="{{ skill.description }} logo">
              </div>
            </div>
          </div>
          <div class="carousel__card__back">
            <p class="carousel__card__title carousel__text">{{skill.display}}</p>
            <div class="carousel__level__container">
              <img class="img img__carousel__level" src="img/skills/{{skill.level}}.png" alt="">
              <div class="carousel__level__text__container">
                <p class="carousel__text">Proficiency</p>
                <p class="carousel__text">{{skill.level | titlecase}}</p>
              </div>
            </div>
            <p class="carousel__text">Experience</p>
            <p class="carousel__text">{{skill.experience}}</p>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>