
<header id="header" class="header">
  <nav class="nav__main">
    {% for section in sections -%}
      {%- if section.type == 'home' %}
        {% if homepage == true %}
          {% assign logoLink = section.link %}
          {% assign navLink = 'data-nav-link' %}
          {% else %}
          {% assign logoLink = "/" %}
          {% assign navLink = '' %}
        {% endif %}
        <a href="{{logoLink}}" class="nav__main__logo" {{navLink}}>
          <img class="img" src="{{section.img.src}}" alt="section.img.alt" class="nav__main__logo">
        </a>
      {% endif -%}
    {% endfor -%}
    {%- if homepage == true %}
      <button class="nav__hamburger" id="nav__hamburger" aria-label="Open navigation" aria-expanded="false">
        <span class="nav__hamburger__icon"></span>
      </button>
      <ul class="nav__main__list">
        {% for section in sections -%}
        {%- if section.type != 'home' %}
        <li class="nav__main__list-item">
          <a href="{{section.link}}" class="nav__main__link" data-nav-link>
            {{ section.name }}
          </a>
        </li>
        {% endif -%}
        {% endfor -%}
        <li class="nav__main__list-item">
          <a href="/blog" class="nav__main__link">
           Blog
          </a>
        </li>
      </ul>
    {% endif -%}
  </nav>
</header>