<ul class="grid__skills" aria-label="My skills">
  {%- for skill in skills -%}
    <li
      class="grid__skill__container"
      role="listitem"
      aria-details="skill__description__{{skill.title}}">
      <div class="grid__skill__circle" data-skill="{{skill.title}}">
        <div class="img__grid__skills__logo">
          <img
            class="img"
            src="img/skills/{{skill.title | kebab}}-logo.svg"
            alt="{{skill.display}}"
            loading="lazy">
        </div>
      </div>
      <div
        id="skill__description__{{skill.title}}"
        class="grid__skill__card"
        data-skill-card="{{skill.title}}">
        <p class="grid__skill__card__title grid__skill__text">{{ skill.display }}</p>
        <p class="grid__skill__text">{{ skill.experience }}</p>

        <div class="grid__skill__level__container">
          <div class="grid__skill__level__text__container">
            <p class="grid__skill__text">Proficiency</p>
            <p class="grid__skill__text">{{ skill.level | titlecase }}</p>
          </div>
          <img
            class="img img__grid__skill__level"
            src="img/skills/{{skill.level}}.png"
            alt=""
            loading="lazy">
        </div>
      </div>
    </li>
  {%- endfor -%}
</ul>