{% assign firstYear = experiences | map: 'year' | first %}
{% assign years = experiences | map: 'year' | uniq %}

<div class="timeline__containter">
  {% for year in years %}
    <div
      class="timeline__year__container"
      data-timeline-year>
      <h3 class="timeline__year__title">{{ year }}</h3>
      <div class="timeline__experience__container">
        <div class="timeline__experience__wrapper">
          {% assign current_experiences = experiences | where: "year", year %}
          {% for experience in current_experiences %}
            <div class="timeline__experience">
              <p class="timeline__experience__type timeline__experience__{{experience.type}}">{{ experience.type | titlecase }}</p>
              <h4 class="timeline__experience__title">{{ experience.title }}</h4>
              <p class="timeline__experience__institute">{{ experience.institute }}</p>
              <p class="timeline__experience__description">{{ experience.description }}</p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}

</div>